
.container {
    max-width: 600px; 
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .mt-5 {
    margin-top: 5rem;
  }
  
  /* Styles for form elements */
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  
  .results {
    margin-top: 2rem;
  }
  
  .form-range {
    width: 100%;
  }
  
  /* Additional styling for JSON output */
  p > small {
    color: #777;
  }
  